<h1><%= @student.to_s %></h1>
<%# Active Status: <%= @student.toggle(:active).save%>
<% if @student.active == true%>
<p>This student is currently active.</p>
<% else %>
<p>This student is currently inactive.</p>
<% end %>